*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #333;
    overflow: hidden;
}

.navbar .logo h3{
    color: #fff;
    padding: 14px 20px;
    float: left;
}

.navbar .menu{
    float: right;
}

.navbar .menu a{
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}
.navbar .menu a:hover{
    background-color: #575757;
}
#hamburger{
    display: none;
    color: #fff;
    font-size: 24px;
    padding: 14px 20px;
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .navbar .menu{
        display: none;
        width: 100%;
        text-align: center;
    }
    .navbar .menu.active{
        display: block;
    }
    #hamburger{
        display: block;
    }
}